*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    padding: 0px;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#hero-cont{
    height: 100vh;
    padding: 0px 80px;
}
header{
    
    padding: 50px 0px;
}
.nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.logo{
    font-size: 16px;
}
.logo span{
    color: #0B9108;
}
.links a{
    color: black;
    text-decoration: none;
    margin-left: 70px;
}
.links a:hover{
    color: #0B9108;
}
.hero-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ht{
    width: 40%;
}
.ht h1{
    font-size: 60px;
}
.ht span{
    color: #0B9108;
}
.ht p{
    margin-top: 5px;
    color: #807D7D;
    font-weight: 400;
}
.ht a{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 15px 60px;
}
.ht a:hover{
    background-color: #0B9108;
    color: white;
    border-color: #0B9108;
    transition: ease 1s;
}
.hi{
    width: 50%;
    text-align: right;
}
.hi svg{
    width: 100%;
}
.aqc{
    
    padding: 0px 80px;
    width: 100%;
}
.aqc img{
    width: 100%;
}


.aps{
    padding: 0px 80px;
}
.aps-h{
    margin-top: 80px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.aps-ht{
    width: 450px;
    font-size: 20px;
}
.aps-hr{
    width: 80%;
}
hr{
    background-color: #0B9108;
    height: 10px;
}
.aps-i{
    width: 100%;
    margin: 20px 0px;
}
.aps-i img{
    width: 100%;
}



.aps-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.c{
    width: 24%;
}
.c h1{
    font-size: 25px;
}
.c p{
    color: #807D7D;
    font-weight: 400;
    margin: 10px 0px;
}

.he{
    padding: 0px 80px;
}
.ch h1{
    font-size: 30px;
}
.aps-h1{
    margin-top: 80px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.aps-ht1{
    width: 320px;
    font-size: 20px;
    text-align: right;
}
.aps-hr1{
    width: 80%;
}
.aps-hr1 hr{
    background-color: #F95936;
}
.pn{
    width: 100%;
    margin: 40px 0px;
}
.pn img{
    width: 100%;
}

.he p{
    color: #807D7D;
    font-weight: 400;
    margin: 20px 0px;
}

footer{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    background-image: url(Group\ 3.png);
    
}
footer h1{
    font-weight: 400;
    font-size: 20px;
}
.main{
    padding: 150px 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container{
    font-size: 20px;
    border: 3px dashed white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.aqi-value{
    color: #F95936;
    font-weight: 900;
    margin: 20px 0px;
    border-radius: 50%;
    font-size: 30px;
}
.mp{
    text-align: center;
}
.mp h1{
    padding: 40px 0px;
}
iframe{
    display: inline-block;
}

.aps-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.c3{
    width: 30%;
}
.c3 h1{
    font-size: 25px;
}
.c3 p{
    color: #807D7D;
    font-weight: 400;
    margin: 10px 0px;
}
.ne{
    background-color: #F95936;
    color: white;
    padding: 40px 50px;
    margin: 40px 0px;
}
.ne2{
    background-color: #0B9108;
    color: white;
    text-align: center;
    padding: 40px 50px;
    margin: 40px 0px;
}
.ne h2, .ne2 h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.ne p, .ne2 p{
    text-align: center;
    color: white;
}
.c4{
    width: 48%;
}
.c4 h1{
    font-size: 35px;
}
.c4 p{
    color: #807D7D;
    font-weight: 400;
    margin: 10px 0px;
}
.c4 ul{
    color: #807D7D;
    font-weight: 400;
    margin-left: 20px;
}
.i2 iframe{
    pointer-events: none;
    display: block;
}
.mp{
    display: block;
    margin-bottom: 10px;
    display: flex;
}
.hn{
    margin: 40px 0px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.chk h1,.hn {
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
  background-color: #5372F0;
}
.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #5372F0;
}
.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #E3F2FD;
}
.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #0B9108;
  transition: 0.2s ease;
}
.weather-input .search-btn:hover {
  background: #5c636a;
}
.weather-input .location-btn {
  background: #6C757D;
}
.weather-input .location-btn:hover {
  background: #5c636a;
}
.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  color: #fff;
  background: #5372F0;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}
.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #6C757D;
  border-radius: 5px;
}
.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}
@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.35rem;
  }
}

.logo h1{
    background-color: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}